%a.box.green(href="#Show#{ticket.id}" data-toggle="modal")
  .title
    = ticket.event_name
  .date
    = "日時: #{ticket.datetime}"
  .place
    = "会場: #{ticket.place}"
  .price
    = "価格: \\#{ticket.price}"

.modal.fade(id="Show#{ticket.id}" tabindex="-1" data-toggle="modal" aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title= ticket.event_name
        .modal-body
          %p
            %b= "#{t('event_name')}:"
            = ticket.event_name
          %p
            %b= "#{t('datetime')}:"
            = ticket.datetime
          %p
            %b= "#{t('place')}:"
            = ticket.place
          %p
            %b= "#{t('price')}:"
            = ticket.price
          %p
            %b= "#{t('category')}:"
            - ticket.categories.each do |category|
              = category[:name]
          %p
            %b= "#{t('tag')}:"
            - ticket.tags.each do |tag|
              = tag[:name]
          %p
            %b= "#{t('note')}:"
            = simple_format(ticket.note)
          - screen_name = ticket.user_id.present? ? ticket.user.screen_name : ""
          - if ticket.user_id.present?
            %b= "#{t('contact')}:"
            %a.blue.button(href="#Modal#{ticket.id}" data-toggle="modal")
              %i.icon-twitter
                = screen_name
            .modal.fade(id="Modal#{ticket.id}" tabindex="-1" data-toggle="modal" aria-hidden="true")
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %h4.modal-title= t('send_message')
                    - if session[:name]
                      = form_tag(controller: "tweet", action: "reply") do
                        .modal-body
                          = text_area_tag("message", "\@"+screen_name+t("reply_message")+ticket_url(ticket.id)+" \#eXtick",  maxlength: "140", size: "80x5", class: "form-control")
                        .modal-footer
                          = submit_tag("Tweet", class: "button blue")
                          %a.button(data-dismiss="modal")
                            Cancel
                    - else
                      .modal-body
                        = t('require_login_for_message')
                      .modal-footer
                        %a.button(data-dismiss="modal" aria-hidden="true")
                          Cancel
                        %a.blue.button(href="/auth/twitter")
                          %i.icon-twitter
                            = t('login_twitter')

        .modal-footer
          = link_to(t('edit'), edit_ticket_path(ticket), class: "button blue")
          %a.button(data-dismiss="modal" aria-hidden="true") Close
