%h1= title
  
.row
  .bounceInLeft.animated
    - tickets.each do |ticket|
      - case ticket.sell_or_exchange
      - when 1
        = render(partial: "only_sell", locals: {ticket: ticket})
      - when 2
        = render(partial: "only_exchange" ,locals: {ticket: ticket})
      - when 3
        = render(partial: "sell_or_exchange" ,locals: {ticket: ticket})
      - else
        = render(partial: "only_sell", locals: {ticket: ticket})

= paginate(tickets, param_name: "ticket_page", remote: true)
