.row
  .col-xs-12
    %h1= title
    %table.table.table-bordered.table-striped(align="center")
      %tr
        %th= t('event_name')
        %th= t('datetime')
        %th= t('place')
        %th= t('price')
        %th= t('contact')

      - tickets.each do |ticket|
        %tr
          %td= link_to(ticket.event_name, controller: "tickets", action: "show", id: ticket)
          %td= ticket.datetime
          %td= ticket.place
          %td= ticket.price
          %td
            - screen_name = ticket.user_id.present? ? ticket.user.screen_name : ""
            - if ticket.user_id.present?
              %a.btn.btn-primary.btn-xs(href="#Modal#{ticket.id}" data-toggle="modal" role="button")
                %font(color="#ffffff")
                  %i.fa.fa-twitter to @#{screen_name}
          .modal.fade(id="Modal#{ticket.id}"tabindex="-1" data-toggle="modal" aria-hidden="true")
            .modal-dialog.modal-lg
              .modal-content
                .modal-header
                  %h4.modal-title= t('send_message')
                  - if session[:name]
                    .modal-body
                      = form_tag(controller: "tweet", action: "update") do
                        = text_area_tag("message", "\@"+screen_name+t("reply_message")+ticket_url(ticket.id)+" \#eXtick",  maxlength: "140", size: "80x5", class: "form-control")
                        .modal-footer
                          %button.btn(data-dismiss="modal" aria-hidden="true") Cancel
                          %button.btn.btn-primary() Tweet
                  - else
                    .modal-body= t('require_login_for_message')
                    .modal-footer
                      %button.btn(data-dismiss="modal" aria-hidden="true") Cancel
                      %a.btn.btn-primary(href="/auth/twitter" role="button")
                        %font(color="#ffffff")
                          %i.fa.fa-twitter= t('login_twitter')
= paginate(tickets, param_name: "default", remote: true)
