%h1= title

.row
  .text-center
    .one.twelfth
      %p.blue-bg
        = t("sell")
    .one.twelfth
      %p.turquoise-bg
        = t("buy")
    .one.twelfth
      %p.green-bg
        = t("exchange")
    
.row
  .bounceInLeft.animated
    - tickets.each do |ticket|
      - case ticket.sell_or_exchange
      - when 1
        = render(partial: "sell", locals: {ticket: ticket})
      - when 2
        = render(partial: "buy" ,locals: {ticket: ticket})
      - when 3
        = render(partial: "exchange" ,locals: {ticket: ticket})
      - else
        = render(partial: "sell", locals: {ticket: ticket})

.row
  .text-center
    = paginate(tickets, param_name: "ticket_page", remote: true)
