.container
  %h1= title
  .form-horizontal.well
    = form_for(ticket) do |f|
      - if ticket.errors.any?
        #error_explanation
          %h2= "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
          %ul
            - ticket.errors.full_messages.each do |msg|
              %li= msg

      .form-group
        .field
          .col-xs-offset-2.col-xs-2
            = f.label(t('event_name'), class: "control-label")
          .col-xs-6
            = f.text_field(:event_name, class: "form-control", placeholder: "Enter event name", readonly: viewer)

      .form-group
        .field
          .col-xs-offset-2.col-xs-2
            = f.label(t('datetime'), class: "control-label")
          .col-xs-6
            = f.datetime_select(:datetime, class: "form-control", use_month_numbers: true, disabled: viewer)

      .form-group
        .field
          .col-xs-offset-2.col-xs-2
            = f.label(t('place'), class: "control-label")
          .col-xs-6
            = f.text_field(:place, class: "form-control", placeholder: "Enter place", readonly: viewer)

      .form-group
        .field
          .col-xs-offset-2.col-xs-2
            = f.label(t('price'), class: "control-label")
          .col-xs-6
            = f.number_field(:price, class: "form-control", placeholder: "Enter price", readonly: viewer)

      .form-group
        .field
          .col-xs-offset-2.col-xs-2
            = f.label(t('category'), class: "control-label")
          .col-xs-6
            - if viewer
              = f.label('ここにカテゴリ名が入る', class: "control-label")
            - else
              = collection_select(:params, :category_id, Category.all, :id, :name, class: "form-control", disabled: viewer)
      .form-group
        .field
          .col-xs-offset-2.col-xs-2
            = f.label(t('tag'), class: "control-label")
          .col-xs-6
            - if params[:action] == "new"
              = text_field(:params, :tags, class: "form-control", placeholder: "tag1,tag2,...")
            - elsif params[:action] == "edit"
              = text_field(:params, :tags, class: "form-control", placeholder: "tag1,tag2,...", value: tags)
      .form-group
        .field
          .col-xs-offset-2.col-xs-2
            = f.label(t('note'), class: "control-label")
          .col-xs-6
            = f.text_area(:note, class: "form-control", placeholder: "Enter some informations", readonly: viewer)
          .col-xs-2
            .actions
              = f.submit(t('register'), class: "btn btn-default")

      - user = User.find_by(uid: session[:uid])
      - if user != nil
        = f.hidden_field(:user_id, value: user.id)
