.container
  %h1= title
  .form-horizontal.well
    - if ticket.id.nil?
      - action = "create"
      - method = "post"
    - else
      - action = "update"
      - method = "patch"
    = form_tag({action: action}, {method: method}) do
      - if ticket.errors.any?
        #error_explanation
          %h2= "#{pluralize(ticket.errors.count, "error")} prohibited this ticket from being saved:"
          %ul
            - ticket.errors.full_messages.each do |msg|
              %li= msg

      .form-group
        .field
          .col-xs-offset-2.col-xs-2
            = label_tag("ticket_event_name", t('event_name'), class: "control-label")
          .col-xs-6
            = text_field_tag("ticket[event_name]", ticket.event_name, class: "form-control", placeholder: "Enter event name", readonly: viewer, required: true)

      .form-group
        .field
          .col-xs-offset-2.col-xs-2
            = label_tag("ticket_datetime", t('datetime'), class: "control-label")
          .col-xs-6
            = datetime_select(:ticket, :datetime, class: "form-control", use_month_numbers: true, disabled: viewer)

      .form-group
        .field
          .col-xs-offset-2.col-xs-2
            = label_tag("ticket_place", t('place'), class: "control-label")
          .col-xs-6
            = text_field_tag("ticket[place]", ticket.place, class: "form-control", placeholder: "Enter place", readonly: viewer)

      .form-group
        .field
          .col-xs-offset-2.col-xs-2
            = label_tag("ticket_price", t('price'), class: "control-label")
          .col-xs-6
            = number_field_tag("ticket[price]", ticket.price, class: "form-control", placeholder: "Enter price", readonly: viewer) 

      .form-group
        .field
          .col-xs-offset-2.col-xs-2
            = label_tag("ticket_category", t('category'), class: "control-label")
          .col-xs-6
            - Category.all.each do |category|
              = check_box_tag("params[categories][]", category.id, checked = ticket.categories.include?(category), disabled: viewer)
              = label_tag("params_categories_#{category.id}", category.name, class: "control-label")

      .form-group
        .field
          .col-xs-offset-2.col-xs-2
            = label_tag("ticket_tag", t('tag'), class: "control-label")
          .col-xs-6
            = text_field_tag("params[tags]", ticket.tag_strings, class: "form-control", placeholder: "tag1,tag2,...")

      .form-group
        .field
          .col-xs-offset-2.col-xs-2
            = label_tag("note", t('note'), class: "control-label")
          .col-xs-6
            = text_area_tag("ticket[note]", ticket.note, class: "form-control", placeholder: "Enter some informations", readonly: viewer)
          .col-xs-2
            .actions
              = submit_tag(t('register'), class: "btn btn-default")

      - if !viewer
        = hidden_field_tag("ticket[user_id]", user.id)
