%h1= t('search_ticket')
.bounceInUp.animated
  = form_tag("/tickets/search", method: "get", remote: true) do
    %fieldset
      .row
        .one.twelfth.skip-one
          = label_tag("event_name", t("event_name"), class: "control-label")
        .four.twelfths
          = text_field_tag(:keyword, params[:keyword], class: "form-control")
      .row
        .one.twelfth.skip-one
          = label_tag("tag", t("tag"), class: "control-label")
        .four.twelfths
          = text_field_tag(:tag, params[:tag], class: "form-control")
        .two.twelfth
          = label_tag("AND", "AND", class: "control-label")
          = radio_button_tag(:method, "and", checked: true)
          = label_tag("OR", "OR", class: "control-label")
          = radio_button_tag(:method, "or")
      .row
        .one.twelfth.skip-one
          .actions
            = submit_tag(t('search'), name: nil, class: "button")
