%h1= title
- count=4
- TicketTag.tag_cloud.each do |name,num|
  = link_to("#{name}(#{num})", {controller: "tickets", action: "search", tab_id: "tag", target: name, method: "or"}, remote: true, class: "tag#{count}")
  - count-=1
