%h1= title
.bounceInDown.animated
  - count=4
  - TicketTag.tag_cloud.each do |name,num|
    = link_to("#{name}(#{num})", {controller: "tickets", action: "search", tag: name, method: "or", search_ticket: true}, remote: true, class: "tag#{count}")
    - count-=1
