.container
  .page-header#start-page-header Usage

.text-center
  %button.btn.btn-primary.btn-xs
    %a(href="/auth/twitter")
      %font(color="#ffffff")
        %i.fa.fa-twitter Twitterでログイン

%br

.text-center
  = render 'search_form'

.text-center
  %h1 New tickets
%table.table.table-bordered.table-striped(align="center")
  %tr
    %th Event name
    %th Datetime
    %th Place
    %th Price
    %th
    %th
    %th

  - @tickets.each do |ticket|
    %tr
      %td= ticket.event_name
      %td= ticket.datetime
      %td= ticket.place
      %td= ticket.price
      %td= link_to 'Show', ticket
      %td= link_to 'Edit', edit_ticket_path(ticket)
      %td= link_to 'Destroy', ticket, :method => :delete, :data => { :confirm => 'Are you sure?'}

%br

-#= link_to 'New Ticket', new_ticket_path

%br
%br
