-if notice
  .alert.alert-success
    %a(class="close"  data-dismiss="alert") x
    = notice

.container
  - if session[:name].nil?
    = render(partial: "oauth")

  = render(partial: "search_form")

  .row
    .col-md-10
      #ajax_area
        = render(partial: "listing_tickets", locals: {tickets: @tickets, title: t('new_tickets')})
    .col-md-2
      = render(partial: "tag_cloud", locals: {title: t('tag_cloud')})

  .row
    .col-md-12
      #tweetbot_area
        = render(partial: "listing_tickets_bot", locals: {tickets: @tickets_bot, title: t('ticket_bot_index')})
