- if session[:name].nil?
  = render(partial: "oauth")

= render(partial: "search_form")

.row
  .one.twelfth
  .eight.twelfths
    #ajax_area
      = render(partial: "listing_tickets", locals: {tickets: @tickets, title: t('new_tickets')})
  .two.twelfths
    = render(partial: "tag_cloud", locals: {title: t('tag_cloud')})

.row
  .one.twelfth
  .ten.twelfths
    #tweetbot_area
      = render(partial: "listing_tickets_bot", locals: {tickets: @tickets_bot, title: t('ticket_bot_index')})
