%p#notice=  notice

%p
  %b= "#{t('event_name')}:"
  = @ticket.event_name
%p
  %b= "#{t('datetime')}:"
  = @ticket.datetime
%p
  %b= "#{t('place')}:"
  = @ticket.place
%p
  %b= "#{t('price')}:"
  = @ticket.price
%p
  %b= "#{t('category')}:"
  - @ticket.categories.each do |category|
    = category[:name]
%p
  %b= "#{t('tag')}:"
  - @ticket.tags.each do |tag|
    = tag[:name]

%p
  %b= "#{t('note')}:"
  = simple_format(@ticket.note)

= link_to t('edit'), edit_ticket_path(@ticket)
\|
= link_to t('back'), tickets_path
