.container
  .row
    .col-xs-12
      %h1= title
      %table.table.table-bordered.table-striped(align="center")
        %tr
          %th= t('event_name')
          %th= t('datetime')
          %th= t('place')
          %th= t('price')
          %th= nil
          %th= nil

        - tickets.each do |ticket|
          %tr
            %td= link_to(ticket.event_name, "#Show#{ticket.id}", "data-toggle" => "modal")
            .modal.fade(id="Show#{ticket.id}" tabindex="-1" data-toggle="modal" aria-hidden="true")
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %h4.modal-title= ticket.event_name
                    .modal-body
                      %p
                        %b= "#{t('event_name')}:"
                        = ticket.event_name
                      %p
                        %b= "#{t('datetime')}:"
                        = ticket.datetime
                      %p
                        %b= "#{t('place')}:"
                        = ticket.place
                      %p
                        %b= "#{t('price')}:"
                        = ticket.price
                      %p
                        %b= "#{t('category')}:"
                        - ticket.categories.each do |category|
                          = category[:name]
                      %p
                        %b= "#{t('tag')}:"
                        - ticket.tags.each do |tag|
                          = tag[:name]
                      %p
                        %b= "#{t('note')}:"
                        = simple_format(ticket.note)
                      .modal-footer
                        = link_to t('edit'), edit_ticket_path(ticket), class: "btn btn-primary"
                        %button.btn(data-dismiss="modal" aria-hidden="true") Close
            %td= ticket.datetime
            %td= ticket.place
            %td= ticket.price
            %td= link_to(t('edit'), controller: "tickets", action: "edit", id: ticket)
            %td= link_to(t('delete'), {controller: "tickets", action: "destroy", id: ticket}, data: {confirm: t('delete_message'), method: :delete})
