!!! 5
%html
  %head
    %title eXtick
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
    %link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")

  %body
    .nav.blue
      %ul
        %li= link_to("eXtick", root_path, {rel: "home"})
        - if session[:name]
          %li= link_to(t("register_new_ticket"), controller: "tickets", action: "new")
          %li= link_to(t("registered_ticket"), controller: "user", action: "myticket")
          %li= link_to(t("watch_tag"), controller: "user", action: "watch_tag")
          %li= link_to(t("inquiry"), "https://twitter.com/eXtick_")
          %li= link_to(t("logout"), controller: "session", action: "destroy")
        - else
          %li= link_to(t("login"), "/auth/twitter")
          
  = yield
  
  %footer.nav.blue
    .container-fluid(role="contentinfo" align="center")
      %p
        ご意見ご要望はこちらまで
        = link_to("@eXtick_", "https://twitter.com/eXtick_")
      %p
        %i.fa.fa-copyright
          2014 irohash
