!!! 5
%html
  %head
    %title eXtick
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %div(class="navbar navbar-fixed-top navbar-inverse" role="navigation")
      %ul.nav.pull-right
        - if session[:name]
          = session[:name]
          = link_to 'ログアウト', logout_path
        - else
          = link_to 'ログイン', '/auth/twitter'

  = yield
