!!! 5
%html
  %head
    %title eXtick
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")

  %body
    %div.navbar.navbar-fixed-top.navbar-inverse(role="navigation")
      .navbar-inner
        .container-fluid
          .navbar-header
            %a.navbar-brand(href="/") eXtick
          %ul.nav.navbar-nav
            %form.navbar-form(action="/tickets/search" method="get" data-remote="true" role="search")
              .form-group
                %input.form-control#search_item(name="search_item" type="text" placeholder="Enter keyword")
              %button.btn.btn-default(type="submit") Search
          %ul.nav.navbar-nav.navbar-right
            - if session[:name]
              %li.dropdown
                %a.dropdown-toggle(data-toggle="dropdown" href="#")
                  #{session[:name]}
                  .caret
                %ul.dropdown-menu
                  %li
                    -#= link_to("Registered Tickets", controller: "tickets", action: "myticket")
                    %a(href=user_myticket_path) Registered Tickets
                  %li
                    %a(href=logout_path) ログアウト
            - else
              %li.dropdown
                %a.dropdown-toggle(data-toggle="dropdown" href="#")
                  ログイン
                  .caret
                %ul.dropdown-menu
                  %li
                    %a(href="/auth/twitter") Twitter
  = yield
